body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color:white;
}

.background {
    height: 100vh; /* Ensure the background takes the full height of the viewport */
    background-color: rgba(0,0,0,1);
}

.split {
    display: flex;
    height: 100%;
}

.sideBar {
    width: 100px;
    background-color: #853e3e; /* Example background color */
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    text-wrap: wrap;
}
.sideBar a{
    background-color: #853e3e; /* Example background color */
    width: 100%;
    text-decoration: none;
    color: white;
    margin-left:10px;
    margin-right:10px;
    transition: background-color 0.3s ease;
}

.sideBar a:hover{
    background-color: rgb(75, 23, 23);
}

.sideIcon img{
    max-width: 100%;
    height: auto;
}

.contentBody {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 25px;
    flex: 1 1 70%;
    background-color: #395397; /* Example background color */
    text-wrap: wrap;
}

.contentBody h1, h2, h3{
    color: white;
}
.contentBody p{
    color: rgb(225, 225, 225);
}

.recommendedBot {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 20%;
    background-color: #852374; /* Example background color */
}

.botBox{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.25);
    border-radius: 15px;
    width: 90%;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-decoration: none;
    color: white;
}

.botBox img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}